---
# Only the main Sass file needs front matter (the dashes are enough)
---

/**
 * Settings
 */

@import 'settings--palette';
@import 'settings--fonts';
@import 'settings--bootstrap';
@import '_bootstrap-sass/assets/stylesheets/bootstrap';
@import 'settings--defaults';

/**
 * Tools
 */

@import 'tools--functions';
@import 'tools--mixins';
@import 'tools--modifiers';
@import 'tools--z-map';

/**
 * Objects
 */

@import 'objects--buttons';
@import 'objects--brand-listers';
@import 'objects--crew-avatar';
@import 'objects--cards';
@import 'objects--paragraphs';

/**
 * Components
 */

@import 'components--header';
@import 'components--footer';
@import 'components--member-profile';

/**
 * Layouts
 */

@import 'layouts--global';
@import 'layouts--forms';
@import 'layouts--blog';
@import 'layouts--post';

/**
 * Partials
 */

@import 'partials--section-lead';
@import 'partials--section-projects';
@import 'partials--section-stripe';
@import 'partials--section-testimonials';
@import 'partials--section-team';

@import 'partials--view-about';
@import 'partials--view-team';
@import 'partials--view-contact';
@import 'partials--view-projects';
@import 'partials--view-project';
