---
layout: default
---
{% assign projects = site.data.projects %}

{% for backgrounds in projects limit: 1 %}
  {% assign background = backgrounds.src %}
{% endfor %}

<div class="view-projects-hero valign">
  {% include background-behind-template.html %}
  <div class="vobject text-center">
    <h1 class="leadtext">This is what we do best!</h1>
  </div>
</div>

<section class="view-projects view-holder">
  <div class="container-fluid">
    <div class="projects-listing">
      {% for project in projects offset: 1 %}
        <div class="row row-project-cabinet">
          <div class="col-xs-12">
            <img class="project-cabinet-image" src="{{project.image}}" alt="">
            <div class="project-cabinet">
              <div class="inner">
                <div class="row">
                  <div class="col-xs-12">
                    <h2 class="section-title {{project.name | slugify}}">{{project.name}}</h2>
                    {% include location.html place=project.city %}
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <p class="brief">{{project.description}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <a href="/projects/{{project.name | slugify}}" class="btn-primary">Read this Story</a>
                  </div>
                </div>
              </div>
            </div>
            <img class="project-cabinet-image" src="{{project.image}}" alt="">
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
