# Jekyll
_site
.sass-cache
.jekyll-metadata

# Configuration files
_config.development.yml
_config.production.yml
_config.staging.yml

# Assets
assets/

# NPM
node_modules/

.DS_Store

service-worker.js
