---
layout: alternative
---

<section class="view-team view-holder">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="leadtext">Meet the Team</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-9 center-block">
        <div class="row">
          {% for member in site.data.members %}
            {% assign name = member.name | split: ' ' %}
            <div class="col-xs-6 col-md-4 padding-right-xs padding-left-xs">
              <div class="member-profile">
                <div class="card">
                  <div class="card-front has-bottom-shadow">
                    <img class="lazy member-picture" data-src="{{ member.image }}" data-effect="fadeIn" alt="{{ member.name }}">
                    <noscript>
                      <img class="member-picture" src="{{ member.image }}" alt="{{ member.name }}" />
                    </noscript>
                    <div class="member-info">
                      <h2 class="name">{{ name.first }}</h2>
                      {% include location.html place=member.city %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
