---
layout: contact
---
<section class="view-thanks view-holder tertiary-background">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="leadtext text-center">Hire us and let's make an amazing project!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <form id="form-fire" class="view-contact-form" action="{{ site.form_action }}" method="POST">

          {% for forms in site.data.contact-forms %}
            {% assign form = forms[1] %}
            <div class="form-group has-form-bullet">
              {% if form.type == 'textarea' %}
                <textarea class="form-control" name="{{form.name}}" id="{{form.id}}" placeholder="{{form.placeholder}}"></textarea>
              {% else %}
                <input type="{{form.type}}" class="form-control" name="{{form.name}}" id="{{form.id}}" placeholder="{{form.placeholder}}" {{form.other}}>
              {% endif %}
              <span class="form-control-bullet">&bull;</span>
            </div>
          {% endfor %}

          <input type="hidden" name="_next" value="{{ site.thanks_url }}" />
          <input type="text" name="_gotcha" style="display:none" />

          <button type="submit" class="btn-secondary form-submit cta-contact">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
