<div class="bottom-section">
  <div class="row">
    <div class="col-xs-12">
      <div class="footer-branding">
        <a class="sitelogo" href="/">
          <img src="/images/logo_grey.svg" alt="Hash Labs" />
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="footer-links">
        <li class="footer-link"><a href="/facebook">facebook</a></li>
        <li class="footer-link"><a href="/twitter">twitter</a></li>
        <li class="footer-link"><a href="/blog">blog</a></li>
        <li class="footer-link"><a href="/legal">legal</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12"><small class="copyright">All rights reserved &copy; Hash Labs 2016</small></div>
  </div>
</div>
