<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- typed.js from http://www.mattboldt.com-->
<script src="{{ "/js/typed.min.js" | prepend: site.baseurl }}"></script>
<!-- wow.js from http://mynameismatthieu.com-->
<script src="{{ "/js/wow.min.js" | prepend: site.baseurl }}"></script>
<!-- headroom.js from http://wicky.nillia.ms/headroom.js/ -->
<script src="{{ "/js/headroom.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
