<footer class="site-footer">
	<div class="container-fluid">
		<div class="upper-group">
			<div class="row">
				<div class="col-xs-12">
					<h1 class="section-title">Focus on the business</h1>
					<h3 class="section-subtitle">and forget about the developing problems</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<a href="/hire" class="btn-secondary cta-footer">
						Take the first step
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="location-element">
						<span class="custom-icon">
							<img class="placeholder-icon" src="http://placehold.it/15x45" />
						</span>
						<span class="offices">
							<ul class="simple-list">
								<li class="list-item">Guadalajara, MX</li>
								<li class="list-item">Valencia, VE</li>
							</ul>
						</span>
					</div>
				</div>
			</div>
		</div>
		<hr class="pretty-divider">
		{% include footer-simplify.html %}
	</div>
</footer>
