<footer class="site-footer">
  <div class="container-fluid">
    <div class="upper-group">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="section-title wow fadeIn lapse-one">We can help with that</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <a href="{{site.data.menus.hireus.href}}" class="btn-secondary cta-footer wow fadeInUp lapse-three">
            Let's talk!
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="location-element">
            <span class="custom-icon wow bounceIn lapse-five">
              <span class="icon-custom fa fa-map-marker text-accent fa-2x"></span>
            </span>
            <span class="offices">
              <ul class="simple-list">
                <li class="list-item wow fadeIn lapse-four">Guadalajara, MX</li>
                <li class="list-item wow fadeIn lapse-four">Valencia, VE</li>
              </ul>
            </span>
          </div>
        </div>
      </div>
    </div>
    <hr class="pretty-divider">
    {% include footer-bottom.html %}
  </div>
</footer>
