<footer class="site-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="section-title">Focus on the business</h1>
				<h3 class="section-subtitle">and forget about the developing problems</h3>
			</div>
			<a href="/hire" class="btn-secondary cta-footer">
				Take the first step
			</a>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="location-element">
					<span class="custom-icon"></span>
					<span class="offices">
						<ul class="simple-list">
							<li class="list-item">Guadalajara, MX</li>
							<li class="list-item">Valencia, VE</li>
						</ul>
					</span>
				</div>
			</div>
		</div>
		<hr class="pretty-divider">
		<div class="row">
			<div class="col-xs-12">
				<div class="footer-branding">
					<img class="sitelogo" src="http://placehold.it/500x500" alt="HashLabs" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<ul class="footer-links">
					<li class="footer-link"><a href="/facebook">facebook</a></li>
					<li class="footer-link"><a href="/twitter">twitter</a></li>
					<li class="footer-link"><a href="/blog">blog</a></li>
					<li class="footer-link"><a href="/legal">legal</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12"><small class="copyright">All rights reserved &copy; Hash Labs 2016</small></div>
		</div>
	</div>
</footer>
