<header class="site-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6">
				<div class="header-branding">
					<img class="sitelogo" src="http://placehold.it/500x500" alt="HashLabs" />
					<p class="branding-text bullet-icon">Hash Labs <span class="text-accent">&bull;</span></p>
				</div>
			</div>
			<div class="col-xs-6">
				<ul class="header-links">
					<li class="header-link"><a href="/about">Who we are</a></li>
					<li class="header-link"><a href="/team">Team</a></li>
					<li class="header-link"><a href="/work">Work</a></li>
					<li class="header-link"><a href="/hire">Hire us</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
