<header class="site-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6">
				<div class="header-branding">
					<a class="sitelogo" href="/">
						<img src="/images/logo_white.svg" alt="Hash Labs Logo" />
					</a>
					<p class="branding-text bullet-icon hidden-xs">Hash Labs <span class="text-accent">&bull;</span></p>
				</div>
			</div>
			<div class="col-sm-6 hidden-xs">
				<ul class="header-links">
					<li class="header-link"><a href="/about">Who we are</a></li>
					<li class="header-link"><a href="/team">Team</a></li>
					<li class="header-link"><a href="/projects">Work</a></li>
					<li class="header-link"><a href="/hire-us">Hire us</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
