<!--header class="site-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6">
				<div class="header-branding">
					<a class="sitelogo" href="/">
						<img src="/images/logo_white.svg" alt="Hash Labs Logo" />
					</a>
					<p class="branding-text bullet-icon hidden-xs">Hash Labs <span class="text-accent">&bull;</span></p>
				</div>
			</div>
			<div class="col-sm-6 hidden-xs">
				<ul class="header-links">
					<li class="header-link"><a href="/about">Who we are</a></li>
					<li class="header-link"><a href="/team">Team</a></li>
					<li class="header-link"><a href="/projects">Work</a></li>
					<li class="header-link"><a href="/hire-us">Hire us</a></li>
				</ul>
			</div>
		</div>
	</div>
</header-->

<nav>
  <div class="site-width">
    <a href="http://twitter.com/alexcican" target="_blank">Alex Cican</a>
    <span class="menu icon" title="Menu (Esc)" tabindex="0" data-icon="m"><span>Menu</span></span>
  <div>

  <div id="navigation">
    <ul>
      <li><span>The man behind this site</span><a href="#" class="about" title="About me">About me</a></li>
      <li><span>Pretty things I made</span><a href="#" class="portfolio" title="My Portfolio">My Portfolio</a></li>
      <li><span>Cool stories I wrote</span><a href="#" class="blog" title="My Blog">My Blog</a></li>
      <li><span>Experiments I conducted</span><a href="#" class="labs" title="My Lab">My Lab</a></li>
      <li><span>Where you can find me</span><a href="#" class="contact" title="Contact Me">Contact Me</a></li>
    </ul>
  </div>
</nav>
