<div class="view-project-hero valign">
  <img class="lazy img-overlay img-behind" data-src="{{ data.background }}" data-effect="fadeIn">
  <noscript>
    <img class="img-overlay img-behind" src="../..{{ data.background }}">
  </noscript>

  <div class="vobject text-center">
    <div class="inner over-layer-element">
      <img class="client-branding" src="../..{{ data.logo }}" alt="{{ data.name }}" />
      <h2 class="client-brief">{{ data.title }}</h2>
      <a href="{{ data.href }}" class="btn-primary" target="_blank">Visit Site</a>
    </div>
  </div>
</div>

<div class="container-fluid material-background">
  <div class="row has-bottom-border project-location">
    <div class="col-xs-12">
      <strong class="section-label">Location</strong>
      {% include location.html place=data.city %}
    </div>
  </div>

  <div class="row project-crew">
    <div class="col-xs-12">
      <strong class="section-label">Project Crew</strong>
      <ul class="crew-lister clearfix">

        {% for developer in data.developers %}
          {% assign name = developer.name %}
          {% assign photo = developer.photo %}
          {% assign job = developer.job %}
          {% assign gender = developer.gender %}
          <li class="crew-member">
            <div class="crew-avatar">
              <img class="avatar-picture" src="../..{{ photo }}" alt="{{ gender }}" />
              <div class="avatar-info">
                <h3 class="name">{{ name }}</h3>
                <p class="avatar-aside">{{ job }}</p>
              </div>
            </div>
          </li>
        {% endfor %}

      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="project-description">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="leadtext">{{ data.intro.title }}</h2>
        <p class="paragraph-content">{{ data.intro.content }}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <img class="project-media" src="../..{{ data.intro.media }}" alt="">
    </div>
  </div>
</div>

<div class="container-fluid tertiary-background">
  <div class="project-description">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="leadtext">{{ data.develop.title }}</h2>
        <p class="paragraph-content">{{ data.develop.content }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="project-description">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="leadtext">{{ data.close.title }}</h2>
        <p class="paragraph-content">{{ data.close.content }}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <img class="project-media" src="../..{{ data.close.media }}" alt="">
    </div>
  </div>
</div>
