{% assign project = site.data.section-project %}
{% assign testimonial = site.data.section-testimonials %}

<section id="project" class="section-project">
  <div class="clients text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 wow fadeIn lapse-one">
          <div class="clients-content">
            <h1 class="leadtext text-accent text-center">{{ project.content.leadtext }}</h1>
            <p class="introtext">{{ project.content.introtext }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="testimonial">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="testimonial">
            <p class="testimonial-content">"{{ testimonial.funding_circle.testimonial }}"</p>
            <p class="testimonial-owner">{{ testimonial.funding_circle.author }} &#9679; {{ testimonial.funding_circle.job }} <a href="{{ testimonial.funding_circle.url }}">{{ testimonial.funding_circle.company }}</a></p>
            <img class="img-circle testimonial-img" src="{{ testimonial.funding_circle.photo }}" alt="david feller">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="brands">
          <ul class="brand-lister">
            {% for brand in site.data.brands %}
            <li class="brand-item wow fadeIn lapse-two">
              <a href="{{ brand.link }}">
                <img class="image" src="{{ brand.logo }}" alt="{{ brand.name }}" />
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>  
  </div>
</section>
