<section class="site-what-container">
  <div class="container">
    <div class="row site-what">
      <div class="col-xs-12 col-md-6 site-what-content">
        <img src="/images/what-1.svg" class="img-fluid mx-auto" alt="">
      </div>
      <div class="col-xs-12 col-md-6 site-what-content">
        <h2>What does our team&nbsp;do?</h2>
        <p>
          Our work is to enhance the staff and join the engineering team, connecting directly with them, helping them to meet their needs by improving their skills on specific languages and to enable them to meet the deadlines of their projects, following their development process.
        </p>
      </div>
    </div>
  </div>
</section>
