<section class="section-team">
  <div class="container-fluid section-wrapper">
    <div class="squared-grid">
      <div class="row">
        <div class="col-xs-6 col-sm-4 square">
          <img class="member-picture" src="/images/orlando.jpg" alt="Orlando Del Aguila" />
        </div>
        <div class="col-xs-6 col-sm-4 square">
          <img class="member-picture" src="/images/luis.jpg" alt="Luis Castro" />
        </div>
        <div class="col-xs-6 col-sm-4 square">
          <img class="member-picture" src="/images/jose.jpg" alt="Jose Bahiano" />
        </div>
        <div class="col-xs-6 col-sm-4 square">
          <img class="member-picture" src="/images/david.jpg" alt="David Lucena" />
        </div>
        <div class="col-xs-6 col-sm-4 square">
          <img class="member-picture" src="/images/marilia.jpg" alt="Marilia Prado" />
        </div>
        <div class="col-xs-6 col-sm-4 square">
          <img class="member-picture" src="/images/alexis.jpg" alt="Alexis Duran" />
        </div>
      </div>
    </div>
    <div class="surface">
      <div class="valign">
        <div class="vobject">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h1 class="leadtext hidden-xs wow fadeIn lapse-three">We're Hash Labs</h1>
                <h1 class="leadtext visible-xs wow fadeIn lapse-three">We're <br> Hash Labs</h1>
                <h2 class="subleadtext wow fadeIn lapse-four">A team of coders and designers ready to solve all your development problems!</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 wow fadeInUp lapse-five">
                <a href="/team.html" class="btn-primary cta-team">Look who we are</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
