{% assign whoweare = site.data.section-whoweare %}

<section class="section-whoweare">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 wow fadeIn lapse-one">
        <h1 class="leadtext text-accent text-center">{{ whoweare.content.leadtext }}</h1>
        <p class="introtext">{{ whoweare.content.introtext }}</p>
        <p class="subintrotext">{{ whoweare.content.subintrotext }}</p>
        <p class="technologiestext">{{ whoweare.content.techtext }}</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="technologies">
          <ul class="technologies-lister">
            {% for tech in site.data.technologies %}
            <li class="tech-item wow fadeIn lapse-two">
              <img class="image" src="{{ tech.link }}" alt="{{ tech.name }}" />
              <p class="name">{{ tech.name }}</p>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
