<section class="section-lead">
  <div class="section-lead-background-image preload-image" data-img-src="/images/hero_background.jpg"></div>
  <div class="container section-wrapper">
    <div class="valign">
      <div class="vobject">
        <div class="row">
          <div class="col-xs-12">
            <div id="typed-strings">
              {% for lead-text in site.data.lead-texts %}
                {% assign sentence = lead-text.sentence %}
                <p>{{ sentence }}</p>
              {% endfor %}
            </div>
            <h1 class="leadtext">We <span id="typed"></span></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 wow fadeIn lapse-five">
            <h2 class="subleadtext">
              We help you grow your project and keep headaches away!
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 wow fadeInUp lapse-six">
            <a href="#" class="btn-primary cta-lead">How we do it</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
