{% assign lead = site.data.section-lead%}

{% assign background = lead.background.src %}

<section class="section-lead">
  {% include background-template.html %}
  <div class="container section-wrapper">
    <div class="valign">
      <div class="vobject">
        <div class="row">
          <div class="col-xs-12">
            <div id="typed-strings">
              {% for sentence in lead.lead %}
                <p>{{ sentence.text }}</p>
              {% endfor %}
            </div>
            <h1 class="leadtext">We <span id="typed"></span></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 wow fadeIn lapse-five">
            <h2 class="subleadtext">
              {{ lead.sublead.text }}
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 wow fadeInUp lapse-six">
            <a href="{{site.data.menus.hireus.href}}" class="btn-primary cta-lead">How we do it</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
