{% assign team = site.data.section-team %}

<section class="section-team">
  <div class="container-fluid section-wrapper">
    <div class="squared-grid">
      <div class="row">
        {% for member in site.data.members %}
          <div class="col-xs-6 col-sm-3 square">
            <img class="member-picture" src="{{member.photo}}" alt="{{member.name}}" />
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="surface">
      <div class="valign">
        <div class="vobject">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h1 class="leadtext hidden-xs wow fadeIn lapse-three">{{ team.lead.text }}</h1>
                <h1 class="leadtext visible-xs wow fadeIn lapse-three">{{ team.lead.mobile }}</h1>
                <h2 class="subleadtext wow fadeIn lapse-four">
                  {{ team.sublead.text }}
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
