{% assign stripe = site.data.section-stripe %}

<section class="section-stripe">
	<div class="container-fluid">
		<div class="row row-aligned-cols-lg">
			<div class="col-xs-12 col-lg-9 col-stripe-text wow fadeIn lapse-one">
				<h1 class="section-title">{{ stripe.stripe.text }}</h1>
			</div><!--
      --><div class="col-xs-12 col-lg-3 col-stripe-button wow fadeInUp lapse-two">
				<a href="{{site.data.menus.hireus.href}}" class="btn-primary cta-stripe">Come on!</a>
			</div>
		</div>
	</div>
</section>
