<div class="container">
  <div class="row services-row">
    <div class="col-xs-12 col-sm-8">
      <div class="service-content">
        <p class="title">Team Augmentation</p>
        <h1 class="leadtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</h1>
        <p class="descriptiontext">Praesent egestas neque eu enim. Aenean ut eros et nisl sagittis vestibulum. Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Praesent ac sem eget est egestas volutpat.

  Praesent turpis. Pellentesque ut neque. Aenean ut eros et nisl sagittis vestibulum. Pellentesque commodo eros a enim. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.

  Quisque malesuada placerat nisl. Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Fusce ac felis sit amet ligula pharetra condimentum. Nam at tortor in tellus interdum sagittis. Ut leo.

  Phasellus dolor. Nulla facilisi. Nam pretium turpis et arcu. Cras sagittis. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris.
  Proin pretium, leo ac pellentesque mollis, felis nunc ultrices eros, sed gravida augue augue mollis justo. Mauris turpis nunc, blandit et, volutpat molestie, porta ut, ligula. Fusce fermentum. Etiam ut purus mattis mauris sodales aliquam. Vestibulum fringilla pede sit amet augue.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-sm-offset-1">
      {% include services-sidebar.html %}
    </div>
  </div>
</div>