<section id="technologies" class="site-technologies-container">
  <div class="container">

    <div class="row">
      <div class="col-12">
        <h2 class="text-center site-technologies-title prevent-orphan">
          {{ include.title }}
        </h2>
      </div>
    </div>

    <div class="row justify-content-md-center site-technologies">
      {% for tech in include.technologies %}
        <div class="col-technology">
          <div class="{{ include.technology_class }}">
            <a class="d-block technology-logo" href="{{ tech.href }}">
              <amp-img class="img-fluid" src="{{ tech.image }}" alt="{{ tech.alt }}" width="99" height="74" />
            </a>
            <a class="d-block" href="{{ tech.href }}">
              <h3 class="technology-name">{{ tech.name }}</h3>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</section>
