<section class="section-lead-container">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <section class="section-lead">
          <!-- <h1>Turbocharge your development team</h1> -->
          <h1 class="widont">{{ include.title }}</h1>
          <p>We join the team to help them increase their skills and succesfully meet their deadlines</p>
          <div class="lead-button">
            <button class="btn--primary hidden-sm-down">Work with Us</button>
          </div>
        </section>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="section-lead-video embed-responsive embed-responsive-16by9">
          <video class="embed-responsive-item" id="lead-video" autoplay>
            <source src="/videos/Animation_HL.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 section-lead-button-mobile text-center">
        <button class="btn--primary hidden-md-up">Work with Us</button>
      </div>
    </div>

  </div>
</section>
