<section class="section-lead-container">
  <div class="container">

    {% assign section = site.data.section-lead %}

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <section class="section-lead">
          <h1 class="widont">
            {% if include.title %}
              {{ include.title }}
            {% else %}
              {{ section.title }}
            {% endif %}
          </h1>
          <p class="widont">
            {% if include.subtitle %}
              {{ include.subtitle }}
            {% else %}
              {{ section.subtitle }}
            {% endif %}
          </p>
          <div class="lead-button">
            <a href="mailto:{{ site.email }}?subject={{ site.email_subject }}" class="btn--primary">{{ section.button_text }}</a>
          </div>
        </section>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="section-lead-video embed-responsive embed-responsive-16by9">
          <video class="embed-responsive-item" id="lead-video" autoplay>
            <source src="{% if include.video %}{{ include.video }}{% else %}{{ section.video }}{% endif %}" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 section-lead-button-mobile text-center">
        <button class="btn--primary hidden-md-up">
          {% if include.button_text %}
            {{ include.button_text }}
          {% else %}
            {{ section.button_text }}
          {% endif %}
        </button>
      </div>
    </div>

  </div>
</section>
