.container-extended {
  @extend .container-fluid;

  @media #{$from-medium-resolutions} {
    max-width: $bootstrap-md;
  }

  @media #{$from-large-resolutions} {
    max-width: $bootstrap-lg;
  }
}

.site-brands-container {
  background-color: $hint-of-red;
  padding: $space*2 0 0;

  @media #{$from-medium-resolutions} {
    padding: $space*2.25 0;
  }
}

.brand-logo {
  img {
    object-fit: contain;
  }
}

.col-brand {
  width: 100%;

  @media #{$from-small-resolutions} {
    width: 20%;
  }
}

.site-brand {
  margin: 0 auto $space*2;
  text-align: center;
  width: 120px;

  @media #{$from-medium-resolutions} {
    width: 140px;
    margin-bottom: 0;
  }
}