.site-technologies {
  margin: $space*3 0 0;
}

.site-technologies-container {
  background-color: $hint-of-red;
  padding: $space*3 0 $space*2 0;
}

.site-technology,
.site-technology--service {
  margin-bottom: $space*2;
  text-align: center;

  @media #{$from-large-resolutions} {
    margin-bottom: 0;
  }
}

.col-technology {
  $columns-by-item: 6;
  width: percentage($columns-by-item / $grid-columns);

  @media #{$from-small-resolutions} {
    $columns-by-item: 4;
    width: percentage($columns-by-item / $grid-columns);
  }

  @media #{$from-large-resolutions} {
    $columns-by-item: 2;
    width: percentage($columns-by-item / $grid-columns);
  }
}

.technology-name {
  color: $color--text;
  font-size: $font-size-sm;
  text-decoration: none;
}

.technology-logo {
  padding-bottom: $space;

  img {
    object-fit: contain;
  }
}
