.member-profile {
  color: $color--base;
  position: relative;
  text-align: center;
  margin-bottom: 3rem;

  .member-info {
    bottom: 2.5rem;
    left: 0;
    position: absolute;
    right: 0;
  }

  .name {
    color: $color--base;
    font-size: 200%;
    font-weight: $font-weight-bold;
  }

  .brief {
    font-size: 130%;
  }
}
