$size--title-font:                         34px;
$size--title-font-mobile:                  28px;
$size--title-line-height:                  1.41;
$size--title-line-height-mobile:           1.33;

.section-cta-container {
  text-align: center;
  background: {
    color: $turquoise-blue;
    image: url('/images/background_cta.png');
    repeat: no-repeat;
    size: cover;
  }
  padding: $space*3.25 0;
}

.section-cta {
  h2 {
    font-size: $size--title-font;
    line-height: $size--title-line-height;
    font-weight: bold;
    color: $white;
    padding-bottom: $space*2;
  }

  @media #{$just-small-resolutions} {
    h2 {
      font-size: $size--title-font-mobile;
      line-height: $size--title-line-height-mobile;
    }
  }
}
