$size--site-nav-height-mobile:           12rem;
$size--site-nav-height-desktop:          10.5rem;
$size--site-nav-height:                  $size--site-nav-height-mobile;
$color--branding-text:                   $white;
$color--branding-text-hover:             #d9d9d9;
$color--layout-default-background:       $color--accent;
$color--layout-alternative-background:   $color--tertiary;

// when navigation is shown, don’t allow scrolling of content
body.no_scroll {
  overflow: hidden;
  height: 100%;
}

// === TOP MENU LAYOUT ===
// =======================

#site-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: $size--site-nav-height;
  z-index: 5;

  @media #{$from-medium-resolutions} {
    height: $size--site-nav-height-desktop;
  }

  &.animated {
    animation-duration: .216s;
  }

  // when shown & detached position is fixed
  &.header-detached {
    position: fixed;

    -webkit-animation-name: slideInDown;
    -moz-animation-name: slideInDown;
    animation-name: slideInDown;

    // Small and color site-header
    & .site-header {
      padding-top: $grid-gutter-width/2;
    }
  }

  // when hidden it goes up
  &.header-hidden {
    -webkit-animation-name: slideOutUp;
    -moz-animation-name: slideOutUp;
    animation-name: slideOutUp;
  }
}

// === MENU NAVIGATION ===
// positions navigation content
#site-nav-mobile {
  opacity: 0;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  padding-top: $size--site-nav-height-mobile;

  &.animated {
    animation-duration: .416s;
  }
}

#site-nav-mobile.mobile-menu-hidden {
  -webkit-animation-name: fadeOutUp;
  -moz-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

// shows navigation
#site-nav.expanded #site-nav-mobile {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  animation-name: fadeInDown;
  opacity: 1;
}

// Background on .site-header and #site-nav-mobile
#site-nav.header-detached .site-header {
  @include background-opacity($color--layout-default-background, 0.9);

  .alternative & {
    @include background-opacity($color--layout-alternative-background, 0.9);
  }
}

#site-nav-mobile {
  background: $color--layout-default-background;

  .alternative & {
    background: $color--layout-alternative-background;
  }
}

// === MENU NAVIGATION CONTENT === */
// =============================== */

.site-nav-mobile {
  height: 100%;
  margin-top: 2rem;
  padding-bottom: 2rem;
  //hidde scroll bar
  margin-right: -20px;
  padding-right: 20px;
  overflow: auto;

  &-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-link {
    display: block;
    padding:  0;

    & > a {
      display: inline-block;
    }

    & > a:hover &__text,
    & > a:hover &__info {
      color: $color--branding-text-hover;
    }

    &__text,
    &__info {
      color: $color--branding-text;
      @include simple-transition();
    }

    &__text {
      margin: 0;
    }
  }
}
