$color--footer-background:            $white-smoke;
$size--footer-padding-top:            60px;
$size--title-font-size:               1.1rem;

.site-footer {
  background-color: $color--footer-background;
  padding-top: $size--footer-padding-top;
  position: relative;
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: $space-triple;

  li a {
    color: $blueish-gray;
  }
}

.footer-links-group {
  h3 {
    font-size: $size--title-font-size;
    color: $darker-gray;
    font-weight: bold;
  }

  @media #{$just-medium-resolutions} {
    padding-left: $space-double*2;
  }

  @media #{$just-small-resolutions} {
    padding-left: $space;
  }
}

.footer-links-groups {
  @media #{$just-small-resolutions} {
    padding-left: $space-double;
  }
}

.footer-copyright {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: $space;

  p {
    padding: 0 $space;
    margin: 0;
    color: $light-gray;
  }

  @media #{$just-small-resolutions} {
    margin-top: $space-double;
  }
}

.footer-link {
  padding: 0;
}

// Basically applying same padding left to footer logo
// than the one being applied to header logo, in order
// to keep them both aligned on mobile devices.
.footer-logo-small {
  display: block;
  position: absolute;
  left: $space-triple;

  img {
    // This is the logo image size to match the
    // header logo.
    width: $size--logo-width;
    height: $size--logo-height;
  }

  @media #{$just-small-resolutions} {
    left: $size--logo-padding-left;
  }
}
