$size--title-font:                     38px;
$size--title-font-small:               28px;
$size--list-title-font:                20px;
$size--list-title-font-small:          18px;
$size--line-height-content:            1.88;
$size--item-line-height:               1.63;
$size--item-font:                      16px;
$size--list-bullet:                    12px;

.service-info-container {
  background-color: white;
  padding: $space*4 0;

  @media #{$just-small-resolutions} {
    padding: $space*3 0 $space*2 0;
  }
}

.service-info {
  h2, h3 {
    font-weight: bold;
    color: $darker-gray;
  }

  h2 {
    font-size: $size--title-font;
    margin-bottom: $space*3;

  }

  h3 {
    font-size: $size--list-title-font;
    margin-top: $space*3;
    margin-bottom: $space*3;
  }

  p {
    line-height: $size--line-height-content;
    color: $darker-gray;
  }

  ul {
    list-style: none;
    padding-left: $space*2;
  }

  li {
    position: relative;
    color: $black;
    line-height: $size--item-line-height;
    font-size: $size--item-font;

    & + li {
      margin-top: $space*1.5;
    }

    &::before {
      content: '';
      position: absolute;
      top: $space*0.25;
      left: -$space*2;
      width: $size--list-bullet;
      height: $size--list-bullet;
      background-color: $orange-red;
      border-radius: 100%;
    }
  }

  @media #{$just-small-resolutions} {
    h2 {
      font-size: $size--title-font-small;
    }

    h3 {
      font-size: $size--list-title-font-small;
      margin-bottom: $space*2;
    }

    p {
      text-align: center;
    }
  }
}
