$size--title-font:              28px;
$size--subtitle-font:           22px;
$color--font:                   $darker-gray;

.site-how-container {
  background-color: $white;
  padding: $space*3 0;
  color: $color--font;
  text-align: center;
}

.section-how-title {
  h2 {
    font-size: $size--title-font;
    font-weight: bold;
    margin-bottom: $space*1.5;
  }
}


.section-how {
  padding-top: $space;

  h3 {
    font-size: $size--subtitle-font;
    font-weight: bold;
    margin-bottom: $space*0.75;
  }

  p {
    font-weight: $size--font-weight-default;
  }
}
