$color--navbar-background:                                 $hint-of-red;
$size--navbar-height:                                      70px;
$size--nav-links-padding-top:                              26px;
$size--menu-toggle-height:                                 40px;
$size--menu-toggle-width:                                  28px;
$size--menu-toggle-top:                                    60%;
$size--menu-toggle-left:                                   40%;
// Height of the menu toggle lines
$size--menu-toggle-line-height:                            3px;
// This variable is for controlling the distance
// between the menu toggle (hamburguer) lines
$size--menu-toggle-line-step:                              3;
$size--menu-toggle-line-rotation:                          45deg;
$animation--mobile-menu:                                   all .2s ease-in-out;

.site-nav-mobile-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: $animation--mobile-menu;
  z-index: z('navbar-mobile');
  transform: translateY(-100%);

  &.active {
    @media #{$just-small-resolutions} {
      margin-top: $size--navbar-height;
      transform: translateY(0);
    }
  }
}

.mobile-menu-overlay {
  background-color: rgba($black, 0.3);
  display: none;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: z('mobile-menu-overlay-unactive');

  &.active {
    opacity: 1;
    display: block;
    z-index: z('mobile-menu-overlay');
  }
}

.site-nav-mobile {
  background-color: $color--navbar-background;
}

.site-nav-mobile-links {
  padding: $space 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  li {
    & + li {
      margin-top: $space;
    }

    a {
      color: $black;
      font-weight: $size--font-weight-default;
    }
  }
}

.menu-toggle {
  display: block;
  width: $size--menu-toggle-width;
  height: $size--menu-toggle-height;
  position: relative;
  cursor: pointer;
  // This is for putting the menu toggle at the middle of the navbar.
  // We get the half of the remaining navbar height after we substract it
  // from the total height, then we add three times the toggle line height
  top: (($size--navbar-height - $size--menu-toggle-height) / 2) + $size--menu-toggle-line-height*3;
  right: $space;

  &.active {
    .menu-toggle-line {
      &:nth-child(1) {
        transform: translateY($size--menu-toggle-line-height * $size--menu-toggle-line-step) rotate(-$size--menu-toggle-line-rotation);
        background-color: $accent-orange-red;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY($size--menu-toggle-line-height * -$size--menu-toggle-line-step) rotate($size--menu-toggle-line-rotation);
        background-color: $accent-orange-red;
      }
    }
  }
}

.menu-toggle-line {
  background-color: $orange-red;
  height: $size--menu-toggle-line-height;
  position: absolute;
  left: 0;
  width: 100%;
  transition: $animation--mobile-menu;

  &:nth-child(2) {
    top: $size--menu-toggle-line-height * $size--menu-toggle-line-step;
  }

  &:nth-child(3) {
    top: $size--menu-toggle-line-height * $size--menu-toggle-line-step * 2;
  }
}
