$size--brands-per-row:            5;
$size--brands-per-row-tablet:     3;
$size--brand-width:               100% / $size--brands-per-row;
$size--brand-width-tablet:        100% / $size--brands-per-row-tablet;
$size--brand-width-small:         100%;
$size--image-width:               70%;
$size--image-width-tablet:        80%;
$size--image-width-small:         40%;

.site-brands-container {
  background-color: $hint-of-red;
  padding: $space*2.5 0;

  @media #{$just-medium-resolutions} {
    padding: $space*2 0;
  }
}

.site-brands {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    display: inline-block;
    width: $size--brand-width;

    a {
      cursor: pointer;
    }

    img {
      width: $size--image-width;
      display: block;
      margin: 0 auto;
    }
  }

  @media #{$just-medium-resolutions} {
    li {
      width: $size--brand-width;

      img {
        width: $size--image-width-tablet;
      }
    }
  }

  @media #{$just-very-small-resolutions} {
    li {
      width: $size--brand-width-small;

      img {
        margin: 0 auto;
        width: $size--image-width-small;
      }

      & + li {
        margin-top: $space;
      }
    }
  }

}
