/* when navigation is shown, don’t allow scrolling of content */
body.no_scroll {
  overflow: hidden;
  height: 100%;
}

/* Firefox fix for overflow: hidden. Scroll bar is hidden and moves everything to the right */
@-moz-document url-prefix() {
  body.no_scroll {
    /*margin-right: 23px;*/
  }

  body.no_scroll .expanded {
    /*padding-right: 7px;*/
    background: rgba(255,88,36,.98); /* because FF no blur, reduce bg transparency */
  }
}

/* === TOP MENU LAYOUT === */
/* ======================= */

#site-nav {
  //color: #333;
  position: absolute;
  top: 0;
  width: 100%;
  height: 16rem; /* smaller height because font is smaller */
  right: 0;
  z-index: 1000;
  overflow: hidden;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
  -webkit-transition: -webkit-transform .4s, height .3s, background .4s;
  -moz-transition: -moz-transform .4s, height .3s, background .4s;
  transition: transform .4s, height .3s, background .4s;
  -webkit-animation: firstFadeInAndDrop .5s;
  -moz-animation: firstFadeInAndDrop .5s;
  animation: firstFadeInAndDrop .5s;
}

/* on intial load fade in the menu */
@-webkit-keyframes firstFadeInAndDrop {
  0%   {-webkit-transform: translate(0,-54px);}
  100% {-webkit-transform: translate(0,0);}
}

@-moz-keyframes firstFadeInAndDrop {
  0%   {-moz-transform: translate(0,-54px);}
  100% {-moz-transform: translate(0,0);}
}

@keyframes firstFadeInAndDrop {
  0%   {transform: translate(0,-54px);}
  100% {transform: translate(0,0);}
}

/* limits width of menu to site width */
.site-width {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2%;
}

/* name of site in main menu (not user selectable) */
.site-width>a {
  font-weight: bold;
  color: #555;
  line-height: 1.9em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* when hidden it goes up */
#site-nav.invisible {
  -webkit-transform: translate(0,-64px);
  -moz-transform: translate(0,-64px);
  -o-transform: translate(0,-64px);
  transform: translate(0,-64px);
  -webkit-transition: -webkit-transform .2s;
  -moz-transition: -moz-transform .2s;
  -o-transition: -o-transform .2s;
  transition: transform .2s;
  opacity: 0;
}

/* when shown & detached position is fixed */
#site-nav.detached {
  position: fixed;
  background: rgba(255,88,36,.9);
  -webkit-transition: -webkit-transform .3s, height .3s, background .4s, opacity .3s;
  -moz-transition: -moz-transform .3s, height .3s, background .4s, opacity .3s;
  -o-transition: -o-transform .3s, height .3s, background .4s, opacity .3s;
  transition: transform .3s, height .3s, background .4s, opacity .3s;
}

/* === MENU NAVIGATION === */
/* ======================= */

/* increases menu width & height */
#site-nav.expanded {
  width: 100%;
  height: 100%;
  position: fixed;
  cursor: default;
  background: rgba(255,88,36,.85);
}

/* positions navigation content */
#site-nav-mobile {
  -webkit-transform: translate(0,-700px);
  -moz-transform: translate(0,-700px);
  -o-transform: translate(0,-700px);
  transform: translate(0,-700px);
  opacity: 0;
  //padding-top: 1rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: -webkit-transform .15s, opacity .7s;
  -moz-transition: -moz-transform .15s, opacity .7s;
  -o-transition: -o-transform .15s, opacity .7s;
  transition: transform .15s, opacity .7s;
}

/* shows navigation */
#site-nav.expanded #site-nav-mobile {
  -webkit-transform: translate(0,0); /* hardware acceleration */
  -moz-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1;
}


/* === MENU NAVIGATION CONTENT === */
/* =============================== */

/* adds vertical spacing between menu links
#site-nav-mobile ul li {
  padding: 1em 0;
}

/* makes link font bigger
#site-nav-mobile ul a {
  font-size: 1.8em;
  font-weight: bold;
  padding: 0 15%;
}

/* subheading span styling
#site-nav-mobile ul span {
  font-family: Georgia, serif;
  font-size: .75em;
  letter-spacing: .2em;
  text-transform: uppercase;
  color: #666;
  display: block;
}

/* === MENU ICONS === */
/* ================== */

/* adds padding to icons */
/*
.icon {
  padding: 2% 3%;
  margin: -2% -3%;
  cursor: pointer;
  float: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* hides extra text of icon (accessibility) *//*
.icon span {
  display: none;
}

/* on focus, don’t show outline *//*
.icon:focus {
  outline: none;
}

/* icon colour *//*
.icon:before, .icon:active:before {
  color: #2ecc71;
}

/* changes colour on hover or keyboard focus *//*
.icon:hover:before, .icon:focus:before {
  color: #555;
}

/* changes icon to an “X” *//*
.expanded .icon:before {
  content: 'x';
  font-size: 1.4em;
  line-height: 1.4em;
  padding-right: .15em;
*/
