$size--site-nav-mobile-padding-top:         $size--site-nav-height-mobile;
// $size--site-nav-height-alternative:      14rem;
// $size--site-nav-height-desktop:          10.5rem;
$color--branding-text:                   $white;
$color--branding-text-hover:             #d9d9d9;
$color--layout-default-background:       $color--accent;
$color--layout-alternative-background:   $color--tertiary;

// // === TOP MENU LAYOUT ===
// // =======================

// #site-nav {
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: 100%;
//   height: $size--site-nav-height-mobile;
//   z-index: 5;
//   overflow: hidden;

//   @media #{$from-medium-resolutions} {
//     height: $size--site-nav-height-desktop;

//     .alternative & {
//       height: $size--site-nav-height-alternative;

//       &.header-detached {
//         height: $size--site-nav-height-desktop;
//       }
//     }
//   }

//   &.animated {
//     animation-duration: .216s;
//   }

//   // when shown & detached position is fixed
//   &.header-detached {
//     position: fixed;

//     -webkit-animation-name: slideInDown;
//     -moz-animation-name: slideInDown;
//     animation-name: slideInDown;

//     transition: transform .216s,height .216s,background .316s,opacity .216s;

//     // Small and color site-header
//     & .site-header {
//       padding-top: $grid-gutter-width/2;
//     }
//   }

//   // when hidden it goes up
//   &.header-hidden {
//     -webkit-animation-name: slideOutUp;
//     -moz-animation-name: slideOutUp;
//     animation-name: slideOutUp;

//     // fixes high speed scrolling bug
//     opacity: 0;
//   }
// }

// === MENU NAVIGATION ===
// positions navigation content
#site-nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: $size--site-nav-mobile-padding-top;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all .5s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
  z-index: 4;
}

// shows navigation
#site-nav-mobile.expanded {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

// // Background on .site-header and #site-nav-mobile
// #site-nav.header-detached .site-header {
//   @include background-opacity($color--layout-default-background, 0.9);

//   .alternative & {
//     @include background-opacity($color--layout-alternative-background, 0.9);

//   }
// }

#site-nav-mobile {
  background: $color--layout-default-background;

  .alternative & {
    background: $color--layout-alternative-background;
  }
}

// === MENU NAVIGATION CONTENT === */
// =============================== */

.site-nav-mobile {
  height: 100%;
  margin-top: 2rem;
  padding-bottom: 2rem;
  //hidde scroll bar
  margin-right: -20px;
  padding-right: 20px;
  overflow: auto;

  &-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-link {
    display: block;
    padding:  0;

    & > a {
      display: inline-block;
    }

    & > a:hover &__text,
    & > a:hover &__info {
      color: $color--branding-text-hover;
    }

    &__text,
    &__info {
      color: $color--branding-text;
      @include simple-transition();
    }

    &__text {
      margin: 0;
    }
  }
}
