$size--header-height:                            55px;
$size--header-font:                              85%;
$color--branding-text:                           $white;

.site-header {
  font-size: $size--header-font;
  left: 0;
  padding-bottom: $grid-gutter-width-half;
  padding-top: $grid-gutter-width-half;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: z('header');
  transition: background .15s linear;

  body.alternative & {
    background-color: $color--tertiary;
  }

  .sitelogo {
    display: inline-block;;
  }
}

.header-branding {
  display: inline-block;
  position: relative;
  white-space: nowrap;

  .branding-text {
    font-size: 120%;
    bottom: 0;
    color: $color--branding-text;
    margin: 0;
    line-height: 1;
    display: inline-block;
    margin-left: $grid-gutter-width-half;
  }
}

.header-branding img,
.header-links, {
  height: $size--header-height;
}


.header-links {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;

  .header-link {
    display: table;
    font-size: 100%;
    float: left;
    height: 100%;
    line-height: 1;

    & + .header-link {
      padding-left: $space*2;
    }

    > a {
      display: table-cell;
      vertical-align: middle;
      @include simple-transition;
    }

    > a:hover {
      color: $color--accent;
    }
  }
}
