html, body {
  height: 100%;
}

/*
 * The site layout is handled as a group of flex columns.
 */
.site {
  display: flex;
  flex-direction: column;
}

/*
 * This makes the main content to expand as needed.
 */
.site-content {
  flex: 1;
  margin-top: $size--navbar-height;
}
