html,
body {
  height: 100%;
}

.site {
  display: flex;
  flex-direction: column;

  &--black {
    background-color: black;
  }

  &--navbar-padding {
    padding-top: $size--header-height;
  }
}

body {
  -webkit-font-smoothing: antialiased;

  &.navbar-expanded {
    @extend .modal-open;
  }
}

.background-inverse {
  background-color: $color--secondary;
  color: $color--primary;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: $color--primary;
  }
}

.container-form {
  max-width: 900px;
  @include make-container;
}

.container {
  @include media-breakpoint-down(lg) {
    width: 100%;
  }

  // allow custom space on large screens between the content and the edges of the viewport
  @include media-breakpoint-up(lg) {
    @include padding-x($content-padding-x);
  }
}

.content-wrapper {
  /*
    no padding is added to this element
    as it is intended to be used alongside a
    container class
   */
  width: 1210px;
  margin: 0 auto;
  max-width: 100%;
}