$color--form-font:                               $aluminium;

.form-group {
  color: $color--form-font;
  position: relative;

  &.has-error {
    &,
    .form-control {
      color: $color--error;
      border-color: $color--error;
    }
  }

  &.has-form-bullet {
    .form-control-bullet {
      display: none;
    }

    @media #{$from-small-resolutions} {
      padding-right: 45px; // anough space for bullet

      .form-control-bullet {
        display: block;
        font-size: 350%; // bullet diameter 25px;
        position: absolute;
        right: 0;
        top: 7px;
        line-height: 1;
      }
    }

    @media #{$from-medium-resolutions} {
      .form-control-bullet {
        font-size: 250%; // bullet diameter 25px;
      }
    }

  }

  .form-control {
    color: $color--base;
  }
}

textarea {
  min-height: 250px;
  resize: none;
}

@include placeholder-styles() {
  color: $color--form-font;
}

.form-control {
  box-shadow: none !important;
  outline: none !important;
}

.radio-inline {
  input {
    position: absolute;
    top: .25em;
  }

  & + .radio-inline {
    margin-left: $space*4;
  }

  .radio-text {
    padding-left: $space*.5;
  }
}

.form-submit {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 325px;
}
