$color--lead-text:                               $white;
$color--section-title-text:                      $white;

.leadtext {
  font-size: 300%;
  font-weight: $font-weight-bold;
}

.subleadtext {
  font-size: 130%;
}

.leadtext,
.subleadtext {
  color: $color--lead-text;
}

.subleadtext {
  margin-top: 0;
}

.bullet-icon {
  font-size: 80%;
}

.section-title {
  color: $color--section-title-text;
  font-size: 200%;
}
