.card {

  &-front {
    position: relative;
		min-height: 30rem;
		min-width: 100%;

		&:before {
			content: '';
			@extend %hero-black-orange;
      z-index: -1;
		}

    &:after {
      background-image: linear-gradient(-180deg, rgba(16,14,42,0.00) 25%, #000000 100%);
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .member-info {
      z-index: 2;
    }
  }
}
