%squared-grid {
  .square {
    padding: 0;
  }
}

.squared-grid,
.squared-grid-guttered {
  @extend %squared-grid;
}

.squared-grid-guttered {
  @extend .clearfix;
  margin-left: -$grid-gutter-width-half;

  .square {
    float: left;
    margin-bottom: $grid-gutter-width-half; 
    padding-left: $grid-gutter-width-half;
    width: 100%;

    @media #{$from-small-resolutions} {
      width: 50%;
    }

    @media #{$from-medium-resolutions} {
      width: 33.333%;
    }
  }
}
