.btn-transparent {
  background-color: transparent;
  border: 2px solid $color--accent;
  color: $color--primary;

  &:hover,
  &:focus {
    background-color: $color--accent;
    color: $color--primary;
  }

  &-orange {
    @extend .btn-transparent;
    color: $color--accent;
  }
}

.btn-yellow {
  background-color: $yellow;
  color: $color--primary;

  &:hover,
  &:focus {
    background-color: darken($yellow, 5);
    color: $color--primary;
  }
}

.btn-primary {
  &:hover,
  &:focus {
    color: $color--primary;
  }
}

.btn {
  @include padding-y($spacer);
  cursor: pointer;
  min-width: 180px;
  font-weight: 600;

  @include media-breakpoint-up(lg) {
    font-size: $font-size-lg;
    font-weight: $font-weight-regular;
  }

  &-sm {
    min-width: 140px;
    @include padding-x($spacer*0.25);
  }
}

@include media-breakpoint-up(lg) {
  .btn, .btn-sm {
    min-width: 215px;
  }
}
