$color--btn-primary-font:                        $white;
$rule--btn-primary-border:                       '3px solid #{$color--accent}';
$rule--btn-secondary-border:                     '3px solid transparent';

%btn-boilerplate {
  display: inline-block;
  max-width: 100%;
  min-width: 230px;
  padding: $space*1.75 $space*6;
  @include simple-transition;

  @media #{$from-small-resolutions} {
    min-width: 0;
    padding: $space $space*5;
  }
}

.btn-primary {
  @extend %btn-boilerplate;
  background-color: transparent;
  border: #{$rule--btn-primary-border};
  color: $color--btn-primary-font;

  &:hover {
    background-color: $color--accent;
    border-color: $color--accent;
    color: $color--btn-primary-font;
  }
}

.btn-secondary {
  @extend %btn-boilerplate;
  background-color: $color--accent;
  border: #{$rule--btn-secondary-border};
  color: $color--base;

  &:hover {
    background-color: transparent;
    border-color: $color--accent;
    color: $color--accent;
  }
}
