.card {
  position: relative;
  width: 100%;

  &-front {
  }

  &-back {
    display: none;
    background-color: $color--tertiary;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    right: 0;

    .content-group {
      margin-bottom: $space*6;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
