$size--btn-font-size:                    22px;
$size--btn-border-radius:                2px;
$size--btn-height:                       45px;
$size--btn-padding-top:                  50px;
$color--btn-primary:                     $orange-red;
$color--btn-primary-accent:              $accent-orange-red;

%btn-boilerplate {
  cursor: pointer;
  display: inline-block;
  font-family: $primary-font;
  font-size: $size--btn-font-size;
  max-width: 100%;
  text-align: center;
  transition: all .2s ease;
  -webkit-font-smoothing: antialiased;

  @include simple-transition;
}

.btn--primary {
  @extend %btn-boilerplate;
  border-radius: $size--btn-border-radius;
  border: 0;
  background-color: $color--btn-primary;
  color: $white;
  padding: $space-quarter $space*4;

  @media #{$just-small-resolutions} {
    padding: $space-quarter $space*3;
  }

  @media #{$just-very-small-resolutions} {
    min-width: 80%;
  }

  &:hover, &:focus {
    background-color: $color--btn-primary-accent;
    text-decoration: none;
    color: $white;
  }
}
