// If base font size is 16px, this will be 22px
$size--btn-font-size:                    1.375rem;
$size--btn-min-width-small:              80%;
$color--btn-primary:                     $orange-red;
$color--btn-primary-accent:              $accent-orange-red;

.btn {
  cursor: pointer;
  font-family: $primary-font;
  font-weight: bold;
  font-size: 1.375rem;
  max-width: 100%;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

// Btn primary is set to $orange-red on _settings--bootstrap.scss file
.btn-primary {
  padding: $space*.5 $space*5;

  &:hover, &:focus {
    background-color: $color--btn-primary-accent;
    text-decoration: none;
    color: $white;
  }

  @media #{$just-small-resolutions} {
    padding: $space*.5 $space*3;
  }

  @media #{$just-very-small-resolutions} {
    min-width: $size--btn-min-width-small;
  }
}
