.brand-lister {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  float: left;

  .brand-item {
    $brand-items-by-row: 1;
    float: left;
    padding-left: 0;
    padding-right: 0;
    width: 100%/$brand-items-by-row;
    text-align: center;

    .image {
      max-width: 100%;
      width: 150px;
    }

    @media #{$from-small-resolutions} {
      $brand-items-by-row: 3;
      padding: $space*2 $space*5;
      width: 100%/$brand-items-by-row;

      .image {
        width: 100%;
      }
    }
  }
}
