.down-caret {
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
  display: block;

  &.animated {
    animation-duration: 2s;
  }

  .image {
    width: 6%;
  }

  @media #{$from-small-resolutions} {
    .image {
      width: 2%;
    }
  }
}