.list-pills {
  @include list-reset;

  &,
  & li {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  li {
    @include padding-x($spacer/2);
    background-color: $mystic;
    border-color: transparent;
    color: $matisse;
    font-size: 12px;
    justify-content: center;
    padding: .4em .5em;
    text-transform: lowercase;

    & + li {
      margin-left: $spacer/2;
    }

    img {
      height: 16px;
    }

    span {
      margin-left: $spacer/4;
    }
  }
}

.list-underlined {
  @include list-reset;
  text-decoration: underline;
  text-transform: uppercase;
}

.listing-offers {
  .list-underlined li {
    .services &,
    .services & a {
      color: $color--primary;

      &:hover {
        color: $color--accent;
      }
    }

    & + li {
      margin-top: $spacer*0.75;
    }
  }

  .offer {
    @include media-breakpoint-down(sm) {
      margin-top: $spacer*3.5;
      text-align: center;

      &-1 {
        margin-top: 0;
      }
    }
  }
}

.custom-bullet-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &-item {
    font-size: $font-size-base * .875;
    position: relative;
    padding-left: $spacer * 1.75;

    &:not(:last-child) {
      margin-bottom: $spacer;
    }

    &::before {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      content: '';
      height: 22px;
      left: 0;
      position: absolute;
      top: $spacer * .25;
      width: 22px;
    }

    @include media-breakpoint-up(md) {
      font-size: $font-size-base;
      padding-left: $spacer * 2;
    }

    @include media-breakpoint-up(lg) {
      font-size: $font-size-base * 1.25;
    }
  }
}

.brand-list {
  &-item {
    display: inline-block;
    width: 40%;
  }

  &-img {
    max-width: 100%;
  }
}
