.img-total {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  display: none;
}

.section-lead {
  min-height: $space*50;
  height: 100vh;
  text-align: center;
  width: 100%;

  .row:first-of-type {
    margin-top: $space*20;
  }

  .row:last-of-type {
    margin-top: $space*5;
    margin-bottom: $space*10;
  }

  .section-wrapper {
    height: 100%;
  }

  &::after {
    z-index: -1;
    content: '';
    @extend %hero-black-orange;
  }
}

#typed-strings {
  display: none;
}
