$dimension--service-go-bullet:                    8px;

.service--go {
  .service-section {
    &--alt {
      background-color: $radical-red;
    }
  }

  .service-lead {
    background-color: $martinique;
  }

  .custom-bullet-list-item {
    padding-left: $spacer * 1.25;

    &::before {
      @include dimension($dimension--service-go-bullet);
      background-color: $radical-red;
      top: $spacer * .35;

      @include media-breakpoint-up(md) {
        top: $spacer * .45;
      }

      @include media-breakpoint-up(lg) {
        top: $spacer * .70;
      }
    }

    @include media-breakpoint-up(md) {
      padding-left: $spacer * 1.5;
    }
  }
}
