.contact-form {
  background-color: $black;
  color: $white;
  padding-top: $spacer * 2.375;
  padding-bottom: $spacer * 3.375;

  &-title {
    color: $white;
    font-size: $font-size-base * 1.5;
    line-height: 1.33;
    margin-bottom: $spacer * 2;

    @include media-breakpoint-up(md) {
      font-size: $font-size-base * 2.5;
      line-height: 1.25;
      margin-bottom: $spacer * 3.375;
    }
  }

  .btn[type="submit"] {
    display: block;
    margin: 0 auto;
  }

  @include media-breakpoint-up(md) {
    padding-top: $spacer * 4.375;
  }
}
