.thanks {
  padding-bottom: $spacer;
  padding-top: $spacer * 10;

  &-title,
  &-copy {
    color: $white;
    font-size: $font-size-base * 1.75;
  }

  &-title {
    margin-bottom: $spacer;
  }

  &-copy {
    margin-bottom: $spacer * 4.5;

    @include media-breakpoint-up(md) {
      margin-bottom: $spacer * 6;
    }
  }

  &-image {
    display: block;
    margin: 0 auto;
    margin-bottom: $spacer * 3;
  }

  &-action {
    font-size: $font-size-base * 1.125;

    &:hover,
    &:focus,
    & {
      color: $crayon-orange;
      display: block;
    }
  }
}
