.view-team {
  .leadtext {
    color: $color--accent;
    margin-bottom: $space*10;
    text-align: center;
  }
}

.social-lister-title {
  color: $color--accent;
  font-size: 120%;
}

.social-lister {
  @include list-reset;
  @include list-inline;
}
