.view-about-hero {
  background: url('../images/about_background.jpg');
  background-size: cover;
  @extend %view-hero-small;

  &::before {

  }
}

.about-intro {
  font-size: 200%;
  margin-bottom: $space*15;
  margin-top: $space*10;
}

.about-content {
  .leadtext {
    color: $color--accent;
  }

  .section-title {
    color: $color--text;
    margin-bottom: $space*5;
    margin-top: $space*8;
  }
}
