.view-contact {
  .leadtext {
    padding-bottom: $space*2;
  }

  .view-contact-form {
    max-width: 960px;
    margin: 0 auto;

    .form-group {
      &:last-of-type {
        margin-bottom: $space*4;
      }
    }

    .form-submit {
      margin-bottom: $space*25;
    }
  }
}
