$rule--section-lead-background:                  'url(../images/hero_background.jpg)';

.section-lead {
  background: #{$rule--section-lead-background};
  background-size: cover;
  background-repeat: no-repeat;
  // display: table;
  min-height: $space*60;
  height: 100vh;
  text-align: center;
  width: 100%;

  .row:first-of-type {
    margin-top: $space*20;
  }

  .row:last-of-type {
    margin-top: $space*5;
    margin-bottom: $space*10;
  }

  .section-wrapper {
    height: 100%;
  }
}
