.section-team {

  .leadtext {
    @media #{$from-small-resolutions} {
      font-size: 350%;
    }
  }

  .subleadtext {
    margin: 0 auto;
    width: 100%;
  }

  .section-wrapper {
    padding-left: $grid-gutter-width-half;
    padding-right: $grid-gutter-width-half;
    position: relative;
    overflow: hidden;
  }

  .surface {
    background-image: linear-gradient(-145deg, rgba(#000000, .69) 0%, rgba(#FF5824, .69) 100%);
    bottom: 0;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
  }

  .valign,
  .vobject {
    width: 100%;
  }

  .cta-team {
    margin-top: $space*6;
  }

  .square {
    padding: 0;

    .member-picture {
      width: 100%;
    }
  }
}
