.section-error-404 {
  position: relative;
  min-height: 350px;
  height: 80vh;
  text-align: center;
  width: 100%;

  &__text {
    &-1,
    &-2,
    &-3 {
      color: white;
    }

    &-2,
    &-3 {
      line-height: 1;
      margin-top: $space;
      margin-bottom: $space;
    }

    &-1 {
      font-size: 17rem;
      line-height: 0.8;
      margin-bottom: 0;
      margin-top: 0;
      padding-bottom: $space;
      display: inline-block;
      border-bottom: solid 5px $color--accent;

    }

    &-2 {
      font-size: 4rem;
    }

    &-3 {
      font-size: 2rem;
    }
  }

  .row:first-of-type {
    margin-top: $space*10;
  }

  .row:last-of-type {
    margin-top: $space*3;
    margin-bottom: 0;
  }

  .section-wrapper {
    height: 100%;
  }

  .vobject {
    vertical-align: bottom;
    padding-bottom: 5rem;
  }

  &::before {
    content: '';
    @extend %hero-blue;
  }
}

.error-404 .site-footer {
  height: 20vh;
  padding-top: 0;
  padding-bottom: 0;

  .bottom-section {
    padding-top: 2rem;
  }

  .row {
    margin-bottom: 1rem;
  }

  .row + .row {
    margin-bottom: 0;
  }

  .footer-branding .sitelogo {
    width: 4.5rem;
  }
}
