$color--section-stripe-bg:                       $mirage;
$color--button-primary-stripe:                   $white;

.section-stripe {
  background-color: $color--section-stripe-bg;
  padding-top: $space*3;
  padding-bottom: $space*3;

  .btn-primary {
    border-color: $color--button-primary-stripe;
    color: $color--button-primary-stripe;
    display: inline-block;
  }

  .section-title {
    margin: 0;
  }

  .col-stripe-text {
    text-align: center;
  }

  .col-stripe-button {
    text-align: center;
    margin-top: $space*3;
  }

  @media #{$from-large-resolutions} {
    padding-top: $space*5;
    padding-bottom: $space*5;

    .col-stripe-text {
      text-align: left;
    }

    .col-stripe-button {
      margin-top: 0;
      text-align: right;
    }
  }
}
