/**
 * Default colors variables
 */

$affair:                        #693F8F;
$aluminium:                     #989898;
$antiflash-white:               #F7F7F7;
$black:                         #000000;
$casablanca:                    #F0AD4E;
$dove-gray:                     #717171;
$fern:                          #5CB85C;
$gray:                          #717171;
$harvard-crimson:               #CC0000;
$jacksons-purple:               #14298B;
$malibu:                        #5BC0DE;
$martinique:                    #3B384D;
$mercury:                       #E9E9E9;
$pelorous:                      #3DA2BE;
$radical-red:                   #FF4865;
$ruddy:                         #FF0221;
$sky-blue:                      #61DAFB;
$valencia:                      #D9534F;
$white:                         #FFFFFF;
$yellow:                        #F1C300;

/**
 * Color variables
 */

$crayon-orange:                 #FF5C1F;

/**
 * Brand colors
 */

$gmail-brand:                   #DF4A32;
$facebook-brand:                #3C66C4;

/**
 * Usable colors
 */

// When using a primary color in your palette, this color should be the most widely used across all screens and components.
$color--primary:                $white;

// Palettes with a secondary color may use this color to indicate a related action or information.
$color--secondary:              $black;

// The accent should be used for the interactive elements
$color--accent:                 $crayon-orange;

/**
 * Bootstrap colors
 */

$gray-base:                     $black;
$gray-darker:                   lighten($gray-base, 13.5%);
$gray-dark:                     lighten($gray-base, 20%);
$gray:                          lighten($gray-base, 33.5%);
$gray-light:                    lighten($gray-base, 46.7%);
$gray-lighter:                  rgba($black, .1);
$brand-primary:                 $color--primary;
$brand-success:                 $fern;
$brand-info:                    $malibu;
$brand-warning:                 $casablanca;
$brand-danger:                  $ruddy;

$color--font-primary:           $black;
$color--font-secondary:         $white;
$color--font-tertiary:          $gray;
