/**
 * font-import
 */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/**
 * font-colors
 */

$text-color:                  $black;
$body-color:                  $text-color;

/**
 * font-size
 */

$font-size-base:              1rem;

/**
 * font-families
 */

$primary-font:                'Montserrat', sans-serif;
$secondary-font:              null;
$headings-font-family:        $secondary-font;

$font-family-sans-serif:      $primary-font;
$font-family-serif:           $secondary-font;
$font-family-monospace:       null;

/**
 * font-weight
 */

$font-weight-regular:           400;
$font-weight-bold:              700;
$lead-font-weight:              $font-weight-regular;

/**
 * headings
 */

$headings-font-family:        null;
$headings-font-weight:        $font-weight-bold;
$headings-color:              $gray-dark;

/**
 * line-height
 */


/**
 * Inputs
 */

$input-font-family:           $primary-font;
$input-font-weight:           700;

/**
 * Button
 */

$button-font-family:          $primary-font;
