/**
 * Generic
 */

  $default-speed-transition:                     .216s;
  $modernizr-no-touch-class:                     '.no-touch';
  $modernizr-touch-class:                        '.touch';



/**
 * Project specific
 */