// -----------------------------------------------------------------------------
// $COLOR-VARIABLES
// -----------------------------------------------------------------------------

$black:                         #000000;
$custom-black:                  #333333;
$gray:                          #CFD8DC;
$kelly-green:                   #46B300;
$mirage:                        #100F2A;
$lime:                          #85C92A;
$red:                           #F7412D;
$crayon-orange:                 #FF5C1F;
$violet:                        #A100B7;
$white:                         #FFFFFF;


// -----------------------------------------------------------------------------
// $USABLE-COLORS
// -----------------------------------------------------------------------------

$color--base:                   $white;
$color--accent:                 $crayon-orange;
$color--text:                   $black;

$color--error:                  $red;
$color--sucess:                 $lime;
