/**
 * This is a map with all the z-index values
 * If you have a value, please put in here in order.
 *
 * @example
 * .foo {
 *   z-map: z-map('layer-name')
 * }
 */

$layer-list: (
  'initial': 0,
  'front': 100
);

@function z-map($layer, $list: $layer-list) {
  @if not map-has-key($list, $layer) {
    @warn 'No layer found for `#{$layer}` in $z-layers map. Property omitted.';
  }

  @return map-get($list, $layer);
}
