@include set-helper('.display-block') {
  display: block !important;
}

@include set-helper('.element-fluid') {
  width: 100% !important;
}

.col-strech,
.row-strecth {
  height: 100%;

  > * {
    height: 100%;
  }
}

.col-inline {
  display: inline-block;
  float: none;
}

.emphasis-text {
  font-weight: $font-weight-bold;
}

.fade-out {
  @include fade-out;
}

.fade-in {
  @include fade-in;
}

.has-bottom-shadow {
  position: relative;

  &::after {
    content: '';
    display: block;
  }
}

.no-pad {
  padding: 0 !important;
}

.rounded-corners {
  border-radius: $border-radius-base;
}

.text-aligned {
  vertical-align: middle;
}

.text-accent.text-accent {
  color: $color--accent;
}

.text-base.text-base {
  color: $color--base;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-large {
  font-size: $font-size-large;
}

.text-small {
  font-size: $font-size-small;
}

.nowrap {
  white-space: nowrap;
}

.valign {
  @include table-align($target: '.vobject');
  width: 100%;
}

.center-block {
  float: none;
}

@include set-helper('.row-aligned-cols') {
  > * {
    display: inline-block;
    float: none;
    vertical-align: middle;
  }
}

// padding/margins helpers
$sizes: (xs: 0.5rem, sm: 1rem, md: 1.5rem, lg: 2rem, xl: 2.5rem);
$properties: ('top', 'right', 'left', 'bottom');

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

@each $name, $value in $sizes {
  @each $prop in $properties {
    .margin-#{$prop}-#{$name} {
      margin-#{$prop}: $value !important;
    }

    .padding-#{$prop}-#{$name} {
      padding-#{$prop}: $value !important;
    }
  }
}

.lapse-one {
  @include lapse-delay(.4s);
}

.lapse-two {
  @include lapse-delay(.8s);
}

.lapse-three {
  @include lapse-delay(1.2s);
}

.lapse-four {
  @include lapse-delay(1.6s);
}

.lapse-five {
  @include lapse-delay(2s);
}

.lapse-six {
  @include lapse-delay(2.4s);
}

.lapse-seven {
  @include lapse-delay(2.8s);
}

body.no_scroll {
  overflow: hidden;
  height: 100%;
}
