---
layout: default
---

<div class="view-about-hero valign">

  {% include background-generic.html %}

  <div class="vobject text-center">
    <h1 class="leadtext">{{ site.data.page-about.lead.text }}</h1>
  </div>
</div>

<div class="container-fluid about-content text-center">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="about-intro paragraph-content">
        {{ site.data.page-about.lead.intro }}
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 class="leadtext">{{ site.data.page-about.lead.title }}</h2>
    </div>
  </div>

  {% for portion in site.data.page-about.portion %}
    <div class="row">
      <div class="col-xs-12">
        <div class="about-portion">
          <h2 class="section-title">{{ portion.title }}</h2>
          <p class="paragraph-content">
            {{ portion.content }}
          </p>
        </div>
      </div>
    </div>
  {% endfor %}

</div>
