---
layout: posts
---

<div class="view-about-hero valign">
  {% include background-generic.html %}
  <div class="vobject text-center">
    <h1 class="leadtext">
      Sharing what we've learned
    </h1>
  </div>
</div>

<section class="container">
  <ul class="blog-feed">
    {% for post in site.posts %}
      <li class="blog-post-preview">
        <a class="blog-post-preview-link display-block" href="{{ post.url }}">
          <div class="crew-avatar">
            <img class="avatar-picture" src="/images/{{ post.author | slugify }}_small.jpg" alt="{{ post.author }}" />
          </div>
          <div class="content">
            <div class="post-excerpt">
              <h2 class="post-title">{{ post.title }}</h2>
              {% if post.brief %}
                <p>{{ post.brief }}</p>
              {% else %}
                {{ post.excerpt }}
              {% endif %}
            </div>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
