{% assign service = include.service %}

<div class="service-lead" id="react-native-service-lead">
  <div class="service-lead-background"></div>
  <div class="service-lead-content">
    <h1 class="service-lead-title service-lead-title--left hidden-sm-down">REACT</h1>
    <img class="service-lead-image" src="{{ service.phone_image }}" alt="react native">
    <h1 class="service-lead-title service-lead-title--right hidden-sm-down">NATIVE</h1>
    <h1 class="service-lead-title hidden-md-up">REACT NATIVE</h1>
  </div>
</div>
