---
layout: default
---

<div class="view-post-hero valign" style="background: url({{ page.cover }}); background-size: cover; background-position: center;">
  <div class="vobject text-center">
    <h1 class="leadtext" itemprop="name headline">{{ page.title }}</h1>
    <div class="crew-avatar post-meta-avatar">
      <img class="avatar-picture" src="/images/{{ page.author | slugify }}_small.jpg" alt="{{ page.author }}" />
    </div>
    <p class="post-meta">
      {% if page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">{{ page.author }}</span>
        </span>
      {% endif %}
      on
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date_to_long_string }}
      </time>
    </p>
  </div>
</div>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post-content" itemprop="articleBody">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</article>
