<!DOCTYPE html>
<html amp lang="en">

  {% include head.html %}

  <body class="default site">

    {% include navbar.html %}

    <main class="site-content">

      {% if page.video %}
        {%
          include template-lead.html
          title = page.title
          subtitle = page.subtitle
          video = page.video
        %}
      {% else %}
        {%
          include template-lead.html
          title = page.title
          subtitle = page.subtitle
        %}
      {% endif %}

      {% include section-brands.html %}

      {{ content }}

      {% include section-cta.html %}

    </main>

    {% include section-footer.html %}

    {% include footer-scripts.html %}

  </body>

</html>
