$color--copyright-font:                          $aluminium;

.site-footer {
  padding-top: $space*5;
  text-align: center;

  .section-title {
    color: $color--text;
    font-weight: $font-weight-bold;
  }

  .custom-icon,
  .offices {
    display: inline-block;
    vertical-align: middle;
  }

  .upper-group .row {
    margin-bottom: $space*5;
  }

  .footer-links {
    @include list-reset;

    .footer-link {
      display: inline-block;

      & + .footer-link {
        margin-left: $space*1.5;
      }
    }

    a {
      color: $color--accent;
      font-size: 70%;
      font-weight: $font-weight-bold;
      text-transform: capitalize;
    }
  }

  .bottom-section {
    .row {
      margin-bottom: $space*1.5;
    }
  }

  .offices {
    text-align: left;
    padding-left: 5px;
  }

  .location-element {
    font-size: 160%;

    @media #{$from-small-resolutions} {
      font-size: 100%;
    }
  }
}

.simple-list {
  @include list-reset();
  font-size: 60%;
}

.footer-branding {
  .sitelogo {
    display: block;
    margin: 0 auto;
    width: $space*7.5;
  }
}

.copyright {
  color: $color--copyright-font;
  font-size: 50%;
}
