$color--sidebar-title:            $color--accent;
$color--sidebar-service-item:     $color--tertiary;
$size--title-sidebar:             100%;
$size--title-sidebar-item:        80%;
$size--title-sidebar-item-sm:     60%;
$size--title-sidebar-md:          80%;
$size--title-sidebar-item-md:     80%;

.services-sidebar {
  margin-top: $space*4;

  .title {
    font-size: $size--title-sidebar;
    color: $color--sidebar-title;
  }
}

.sidebar-services-list {

  .sidebar-services-item {
    margin: $space 0;
    padding: $pad*2;
    background-color: $color--sidebar-service-item;
    text-align: center;

    .image {
      width: 35%;
    }

    .title {
      color: $white;
      font-size: $size--title-sidebar-item;
      font-weight: normal;
      margin-top: $space;
    }
  }
}

@media #{$from-small-resolutions} {
  .services-sidebar {
    margin-top: 0;
  }

  .sidebar-services-list {

    .sidebar-services-item {
      .title {
        font-size: $size--title-sidebar-item-sm;
      }

      .image {
        width: 80%;
      }
    }
  }
}

@media #{$from-medium-resolutions} {
  .services-sidebar > .title {
    font-size: $size--title-sidebar-md;
  }

  .sidebar-services-list {

    .sidebar-services-item {
      .title {
        font-size: $size--title-sidebar-item-sm;
      }

      .image {
        width: 45%;
      }
    }
  }
}
