$size--name-tech-item:      80%;

.technologies-lister {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  float: left;
  text-align: center;

  @media #{$from-medium-resolutions} {
    padding-left: $space*8;
    padding-right: $space*8;
  }

  @media #{$from-large-resolutions} {
    padding-left: $space*12;
    padding-right: $space*12;
  }

  .tech-item {
    $tech-items-per-row: 3;

    padding: $pad;

    width: 100%/$tech-items-per-row;
    float: left;

    .image {
      max-width: 100%;
      width: 80%;
    }

    .name {
      margin-top: $space;
      font-size: $size--name-tech-item;
    }

    @media #{$from-small-resolutions} {
      $tech-items-by-row: 6;
      width: 100%/$tech-items-by-row;

      padding: 0 $pad;

      .image {
        width: 60%;
      }
    }

    @media #{$from-medium-resolutions} {
      .name {
        font-size: 60%;
      }
    }

    @media #{$from-large-resolutions} {
      .image {
        width: 50%;
      }
    }
  }
}
